<a href="https://colab.research.google.com/github/swilsonmfc/pandas/blob/main/1_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment

# Setup

In [1]:
import pandas as pd
import numpy as np

# Data
* The code to download and extract the dataset is present
* If you're working in a different environment (other than Colab) you can:
  * Clone the repo (github.com/swilsonmfc/pandas)
  * Download the file (

In [ ]:
!wget https://simplemaps.com/static/data/world-cities/basic/simplemaps_worldcities_basicv1.73.zip
!unzip simplemaps_worldcities_basicv1.73.zip

# Tasks
* Read the file worldcities.csv
* Produce summary information
  * How many cities are there?
  * How many countries are there?
* Produce summary statistics by country
  * Count of cities in each country
  * Min population in country
  * Max population in country
* Extra: There are three cities that have an incorrect population (Can you find them?)

# Links
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html
## Pandas Series Operators
* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.size.html
* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.min.html
* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.max.html
## Numpy Operators
* https://numpy.org/doc/stable/reference/generated/numpy.ndarray.size.html
* https://numpy.org/doc/stable/reference/generated/numpy.ndarray.size.html
* https://numpy.org/doc/stable/reference/generated/numpy.ndarray.size.html

## Read Data
* Read the data into a Data Frame

In [5]:
df = pd.read_csv("worldcities.csv")
df.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140

## Count of Cities
* Find the number of cities present in the dataset

In [3]:
print(f"Number of cities: {len(df)}")

Number of cities: 26569

## Count of Countries
* Find the count of countries present in the dataset

In [8]:
num_countries = len(df["country"].value_counts())
print(f"Number of countries: {num_countries}")

Number of countries: 224

## Find number of Cities in each Country
For each country, find the number of cities present in the dataset

In [15]:
cities_in_country = df[["country", "city"]].groupby("country")

cities_in_country.count()

                   city
country
Afghanistan          44
Albania              50
Algeria              62
American Samoa        1
Andorra               7
...                 ...
Wallis And Futuna     1
West Bank             1
Yemen                42
Zambia               35
Zimbabwe             26

[224 rows x 1 columns]

## Find Min Population by Country
For each country, find the city with the smallest population

In [59]:
lowest_pop = df.groupby("country")["population"].idxmin()

df.loc[df.index.intersection(lowest_pop)]

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
66.0,Hong Kong,Hong Kong,22.3050,114.1850,Hong Kong,HK,HKG,NaN,NaN,7347000.0,1344982653
106.0,Singapore,Singapore,1.3000,103.8000,Singapore,SG,SGP,Central Singapore,primary,5745000.0,1702341327
550.0,Doha,Doha,25.3000,51.5333,Qatar,QA,QAT,Ad Dawḩah,primary,1312947.0,1634459660
781.0,Male,Male,4.1750,73.5083,Maldives,MV,MDV,Maale,primary,133019.0,1462441685
791.0,Bridgetown,Bridgetown,13.0975,-59.6167,Barbados,BB,BRB,Saint Michael,primary,110000.0,1052274244
...,...,...,...,...,...,...,...,...,...,...,...
26530.0,Zillah,Zillah,28.5504,17.5834,Libya,LY,LBY,Al Jufrah,NaN,10.0,1434245699
26532.0,Barnīs,Barnis,23.9460,35.4842,Egypt,EG,EGY,Al Baḩr al Aḩmar,NaN,10.0,1818107956
26538.0,Djado,Djado,21.0150,12.3075,Niger,NE,NER,Agadez,NaN,10.0,1562138807
26564.0,Nord,Nord,81.7166,-17.8000,Greenland,GL,GRL,Sermersooq,NaN,10.0,1304217709
26566.0,Cheremoshna,Cheremoshna,51.3894,30.0989,Ukraine,UA,UKR,Kyyivs’ka Oblast’,NaN,0.0,1804043438

## Find Max Population by Country
* For each country, find the city with the largest population

In [60]:
highest_pop = df.groupby("country")["population"].idxmax()

df.loc[df.index.intersection(highest_pop)]

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0.0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1.0,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2.0,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
4.0,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140
5.0,Shanghai,Shanghai,31.1667,121.4667,China,CN,CHN,Shanghai,admin,22120000.0,1156073548
...,...,...,...,...,...,...,...,...,...,...,...
23884.0,Grand Turk,Grand Turk,21.4664,-71.1360,Turks And Caicos Islands,TC,TCA,NaN,NaN,5801.0,1796965313
25050.0,Avarua,Avarua,-21.2070,-159.7710,Cook Islands,CK,COK,NaN,NaN,5445.0,1184217570
25976.0,Vatican City,Vatican City,41.9000,12.4478,Vatican City,VA,VAT,NaN,NaN,825.0,1336000000
26373.0,Stanley,Stanley,-51.7000,-57.8500,Falkland Islands (Islas Malvinas),FK,FLK,NaN,NaN,2213.0,1238780509
26521.0,Grytviken,Grytviken,-54.2806,-36.5080,South Georgia And South Sandwich Islands,GS,SGS,NaN,NaN,99.0,1239048837

## Cities with Bad Populations
* Three cities have fractional "people"
* What are those the cities?

In [33]:
bad_pops = df[df["population"].notnull()].copy()

bad_pops["remainder"] = bad_pops.population - bad_pops.population.astype(int)
bad_pops[bad_pops["remainder"] > 0]

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,remainder
8436,Tecax,Tecax,20.2019,-89.2881,Mexico,MX,MEX,Yucatán,NaN,50.789,1484782521,0.789
9447,Kobarid,Kobarid,46.2471,13.5796,Slovenia,SI,SVN,Kobarid,admin,4.472,1705651680,0.472
26062,Río Cuarto,Rio Cuarto,-33.1230,-64.3478,Argentina,AR,ARG,Córdoba,minor,158.298,1032552145,0.298