<a href="https://colab.research.google.com/github/swilsonmfc/pandas/blob/main/1_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment

# Setup

In [1]:
import pandas as pd
import numpy as np

# Data
* The code to download and extract the dataset is present
* If you're working in a different environment (other than Colab) you can:
  * Clone the repo (github.com/swilsonmfc/pandas)
  * Download the file (

In [2]:
!wget https://simplemaps.com/static/data/world-cities/basic/simplemaps_worldcities_basicv1.73.zip
!unzip simplemaps_worldcities_basicv1.73.zip

--2021-04-09 11:20:14--  https://simplemaps.com/static/data/world-cities/basic/simplemaps_worldcities_basicv1.73.zip
Resolving simplemaps.com (simplemaps.com)... 104.26.13.95, 104.26.12.95, 172.67.71.113, ...
Connecting to simplemaps.com (simplemaps.com)|104.26.13.95|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2697031 (2.6M) [application/zip]
Saving to: ‘simplemaps_worldcities_basicv1.73.zip’

simplemaps_worldcit 100%[===================>]   2.57M  15.4MB/s    in 0.2s

2021-04-09 11:20:15 (15.4 MB/s) - ‘simplemaps_worldcities_basicv1.73.zip’ saved [2697031/2697031]

Archive:  simplemaps_worldcities_basicv1.73.zip
  inflating: license.txt
  inflating: worldcities.csv
  inflating: worldcities.xlsx

# Tasks
* Read the file worldcities.csv
* Produce summary information
  * How many cities are there?
  * How many countries are there?
* Produce summary statistics by country
  * Count of cities in each country
  * Min population in country
  * Max population in country
* Extra: There are three cities that have an incorrect population (Can you find them?)

# Links
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html
## Pandas Series Operators
* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.size.html
* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.min.html
* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.max.html
## Numpy Operators
* https://numpy.org/doc/stable/reference/generated/numpy.ndarray.size.html
* https://numpy.org/doc/stable/reference/generated/numpy.ndarray.size.html
* https://numpy.org/doc/stable/reference/generated/numpy.ndarray.size.html

## Read Data
* Read the data into a Data Frame

In [3]:
df = pd.read_csv('worldcities.csv')

## Count of Cities
* Find the number of cities present in the dataset

In [4]:
# Each row in the dataframe is a city, return length of the frame
len(df)

26569

In [5]:
# Count the number of cities in the dataframe
df.city.count()

26569

## Count of Countries
* Find the count of countries present in the dataset

In [6]:
# Group by country & count the groups
len(df.groupby('country'))

224

In [7]:
# Count the unique number of groups
len(df.country.unique())

224

## Find number of Cities in each Country
For each country, find the number of cities present in the dataset

In [8]:
# Group by country and get the size of the city list
df.groupby('country').size()

country
Afghanistan          44
Albania              50
Algeria              62
American Samoa        1
Andorra               7
                     ..
Wallis And Futuna     1
West Bank             1
Yemen                42
Zambia               35
Zimbabwe             26
Length: 224, dtype: int64

In [9]:
# Group by country and count the non null items
df.groupby('country').count()

                   city  city_ascii  lat  ...  capital  population  id
country                                   ...
Afghanistan          44          44   44  ...       41          39  44
Albania              50          50   50  ...       12          50  50
Algeria              62          62   62  ...       48          57  62
American Samoa        1           1    1  ...        1           1   1
Andorra               7           7    7  ...        7           1   7
...                 ...         ...  ...  ...      ...         ...  ..
Wallis And Futuna     1           1    1  ...        1           0   1
West Bank             1           1    1  ...        1           0   1
Yemen                42          42   42  ...       40          39  42
Zambia               35          35   35  ...       10          35  35
Zimbabwe             26          26   26  ...       10          25  26

[224 rows x 10 columns]

In [10]:
df.groupby('country')['city'].count()

country
Afghanistan          44
Albania              50
Algeria              62
American Samoa        1
Andorra               7
                     ..
Wallis And Futuna     1
West Bank             1
Yemen                42
Zambia               35
Zimbabwe             26
Name: city, Length: 224, dtype: int64

## Find Min Population by Country
For each country, find the city with the smallest population

In [11]:
# Find minimum pop value per country
df.groupby('country')['population'].min()

country
Afghanistan           4938.0
Albania               3607.0
Algeria                216.0
American Samoa       12576.0
Andorra              22151.0
                      ...
Wallis And Futuna        NaN
West Bank                NaN
Yemen                  189.0
Zambia                1336.0
Zimbabwe              2148.0
Name: population, Length: 224, dtype: float64

In [12]:
# Find the row of the minimum population per country
df.groupby('country')['population'].idxmin()

country
Afghanistan           8408.0
Albania              25897.0
Algeria              26487.0
American Samoa         817.0
Andorra                813.0
                      ...
Wallis And Futuna        NaN
West Bank                NaN
Yemen                26061.0
Zambia               26410.0
Zimbabwe             25964.0
Name: population, Length: 224, dtype: float64

In [13]:
# Deprecated - Can't directly use lookup by row index
df.loc[df.groupby('country')['population'].idxmin()]

KeyError: ignored

In [14]:
# Intersect row numbers with the index & subselect columns
df.loc[df.index.intersection(df.groupby('country')['population'].idxmin())][['country', 'city', 'population']]

           country         city  population
66.0     Hong Kong    Hong Kong   7347000.0
106.0    Singapore    Singapore   5745000.0
550.0        Qatar         Doha   1312947.0
781.0     Maldives         Male    133019.0
791.0     Barbados   Bridgetown    110000.0
...            ...          ...         ...
26530.0      Libya       Zillah        10.0
26532.0      Egypt       Barnīs        10.0
26538.0      Niger        Djado        10.0
26564.0  Greenland         Nord        10.0
26566.0    Ukraine  Cheremoshna         0.0

[221 rows x 3 columns]

In [21]:
# An alternative way - can return duplicate populations within group
idx = df.groupby('country')['population'].transform(min) == df['population']
df[idx][['country', 'city', 'population']]

         country         city  population
66     Hong Kong    Hong Kong   7347000.0
106    Singapore    Singapore   5745000.0
550        Qatar         Doha   1312947.0
781     Maldives         Male    133019.0
791     Barbados   Bridgetown    110000.0
...          ...          ...         ...
26564  Greenland         Nord        10.0
26565  Greenland  Timmiarmiut        10.0
26566    Ukraine  Cheremoshna         0.0
26567     Russia    Ambarchik         0.0
26568     Russia      Nordvik         0.0

[230 rows x 3 columns]

## Find Max Population by Country
* For each country, find the city with the largest population

In [16]:
# Find the max pop value per country
df.groupby('country')['population'].max()

country
Afghanistan          3678034.0
Albania               418495.0
Algeria              3415811.0
American Samoa         12576.0
Andorra                22151.0
                       ...
Wallis And Futuna          NaN
West Bank                  NaN
Yemen                2957000.0
Zambia               1742979.0
Zimbabwe             1606000.0
Name: population, Length: 224, dtype: float64

In [17]:
# Find the row of the max pop value
df.groupby('country')['population'].idxmax()

country
Afghanistan          213.0
Albania              753.0
Algeria              229.0
American Samoa       817.0
Andorra              813.0
                     ...
Wallis And Futuna      NaN
West Bank              NaN
Yemen                266.0
Zambia               431.0
Zimbabwe             462.0
Name: population, Length: 224, dtype: float64

In [18]:
# Deprecated - Can't directly use lookup by row index
df.loc[df.groupby('country')['population'].idxmax()]

KeyError: ignored

In [19]:
# Intersect row numbers with the index & subselect columns
df.loc[df.index.intersection(df.groupby('country')['population'].idxmax())][['country', 'city', 'population']]

                                          country          city  population
0.0                                         Japan         Tokyo  37977000.0
1.0                                     Indonesia       Jakarta  34540000.0
2.0                                         India         Delhi  29617000.0
4.0                                   Philippines        Manila  23088000.0
5.0                                         China      Shanghai  22120000.0
...                                           ...           ...         ...
23884.0                  Turks And Caicos Islands    Grand Turk      5801.0
25050.0                              Cook Islands        Avarua      5445.0
25976.0                              Vatican City  Vatican City       825.0
26373.0         Falkland Islands (Islas Malvinas)       Stanley      2213.0
26521.0  South Georgia And South Sandwich Islands     Grytviken        99.0

[221 rows x 3 columns]

In [22]:
# An alternative way
idx = df.groupby('country')['population'].transform(max) == df['population']
df[idx][['country', 'city', 'population']]

                                        country          city  population
0                                         Japan         Tokyo  37977000.0
1                                     Indonesia       Jakarta  34540000.0
2                                         India         Delhi  29617000.0
4                                   Philippines        Manila  23088000.0
5                                         China      Shanghai  22120000.0
...                                         ...           ...         ...
23884                  Turks And Caicos Islands    Grand Turk      5801.0
25050                              Cook Islands        Avarua      5445.0
25976                              Vatican City  Vatican City       825.0
26373         Falkland Islands (Islas Malvinas)       Stanley      2213.0
26521  South Georgia And South Sandwich Islands     Grytviken        99.0

[221 rows x 3 columns]

## Cities with Bad Populations
* Three cities have fractional "people"
* What are those the cities?

In [23]:
inc_df = df.copy()
inc_df['population'] = inc_df['population'].fillna(0)
inc_df['population_correct'] = inc_df['population'] - inc_df['population'].astype(int)
inc_df.sort_values('population_correct')
inc_df[inc_df.population_correct > 0][['city', 'country', 'population', 'population_correct']]

             city    country  population  population_correct
8436        Tecax     Mexico      50.789               0.789
9447      Kobarid   Slovenia       4.472               0.472
26062  Río Cuarto  Argentina     158.298               0.298