<a href="https://colab.research.google.com/github/swilsonmfc/pandas/blob/main/2_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment

# Setup

In [ ]:
import pandas as pd
import numpy as np

# Data
* The code to download and extract the dataset is present
* If you're working in a different environment (other than Colab) you can:
  * Clone the repo (github.com/swilsonmfc/pandas)
  * Download the file

In [ ]:
!wget https://simplemaps.com/static/data/world-cities/basic/simplemaps_worldcities_basicv1.73.zip
!unzip simplemaps_worldcities_basicv1.73.zip

# Tasks
* Creating DataFrames
* Boolean Operators
* Extra: Adding a row to a DataFrame
* Extra: Changing the value of a cell in a DataFrame

# Creating DataFrames

In [ ]:
# Given the following data of player, games played and won, create a DataFrame with appropriate columns
# John, 10, 5
# Paul, 12, 8
# George, 4, 4
# Ringo, 9, 3

In [ ]:
# We have three lists, convert them into a data frame 
classes    = ['Math', 'History', 'Health', 'Science']
students   = [25, 30, 20, 40]
avg_grades = ['A', 'B', 'C+', 'A']

In [ ]:
# Read the world cities data into a frame
df = pd.read_csv('worldcities.csv')

# Boolean Operators

In [ ]:
# Find the rows with a population at least 1 million people

In [ ]:
# Find the rows with a population of at least 2 million people but less than 5 million

In [ ]:
# Find the cities where the country is either Japan, China or India

In [ ]:
# Show an alternative way to find cities where the country is either Japan, China or India

# Accessors

In [ ]:
# Locate the city and population columns where the row position is between 10 and 20

In [ ]:
# Find the row within index (row name) equal to 10

In [ ]:
# Show an alternative way to find the row with an index (row name) equal to 10

In [ ]:
# Show city, lat, lng of rows with an iso2 code of GB or FR

# Extra #1

In [ ]:
# We have a simple dataframe:
simple_df = pd.DataFrame([
  {'A':10, 'B':20},
  {'A':30, 'B':40},
  {'A':50, 'B':60}                       
])
# Add a row to simple df where the value of A = 70 and B = 80

# Extra #2

In [ ]:
# Correct the following city with a fractional population, it should be 4_472 rather than 4.472
df[df.city == 'Kobarid']