<a href="https://colab.research.google.com/github/swilsonmfc/pandas/blob/main/2_Lesson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 2
* In this lesson, we deepen our working knowledge reviewing a number of fundamental operations including:
  * Creating Series and DataFrames
  * Using the bracket operator on a DataFrame
  * Using and chaining accessor methods
  * Using logical accessors with boolean arrays

# Setup

In [52]:
import numpy as np
import pandas as pd

# Constructors
* Pandas Series and DataFrames have a wide variety of constructors

## Creating Series

In [53]:
# Series from list - a ranged index is created
ser = pd.Series([1,2,3,4,5])
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [54]:
# Series from list - set your own index
ser = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd', 'e'])
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [55]:
# Series from dict
ser = pd.Series({'a':1, 'b':2, 'c':3, 'd':4, 'e':5})
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [56]:
# Accessing item (notice the dictionary semantics) - One item returns a scalar
ser['a']

1

In [57]:
# Accessing multiple items - Returns a series
ser[['a', 'b']]

a    1
b    2
dtype: int64

In [58]:
# Naming a Series
ser = pd.Series([1,2,3,4,5], name='Sample')
ser

0    1
1    2
2    3
3    4
4    5
Name: Sample, dtype: int64

## Creating DataFrames

In [59]:
# It can be handy to construct an empty DataFrame
df = pd.DataFrame(columns=['a', 'b', 'c'])
df

Empty DataFrame
Columns: [a, b, c]
Index: []

In [60]:
# DataFrames are a collection of series
ser_a = pd.Series([1,2,3], name='a')
ser_b = pd.Series([4,5,6], name='b')
ser_c = pd.Series([7,8,9], name='c')
df = pd.DataFrame([ser_a, ser_b, ser_c])
df

   0  1  2
a  1  2  3
b  4  5  6
c  7  8  9

In [61]:
# DataFrames can be constructed from a Dictionary of Lists
df = pd.DataFrame({'a':[1,2,3], 'b':[4,5,6], 'c':[7,8,9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [62]:
# DataFrames can be constructed from a List of Dictionaries
df = pd.DataFrame([
  {'a':1, 'b':4, 'c':7},
  {'a':2, 'b':5, 'c':8},
  {'a':3, 'b':6, 'c':9}               
])
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [63]:
# DataFrames can also be constructed from a List of Lists
list_of_lists = [[1,2,3], [4,5,6] ,[7,8,9]]
df = pd.DataFrame(list_of_lists, columns=['a', 'b', 'c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

# Bracket Operator
* Bracket operators invoke the \_\_getitem\_\_ method

In [64]:
# Bracket operator on a DataFrame selects series - Note:  A series object is returned
df['a']

0    1
1    4
2    7
Name: a, dtype: int64

In [65]:
# Brackes can select a list of series - DataFrame is returned when 2+ series are selected
df[['b', 'c']]

   b  c
0  2  3
1  5  6
2  8  9

# Accessor Methods
* .ix has been deprecated

## loc
* loc is used to select rows by their index name

In [66]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [67]:
# Select the second row - note it's name == 1.  Note retured as a series & has name == 1
df.loc[1]

a    4
b    5
c    6
Name: 1, dtype: int64

In [68]:
# Multiple rows - we can use python slicing
df.loc[1:2]

   a  b  c
1  4  5  6
2  7  8  9

In [69]:
# Don't get an error on ranges
df.loc[1:10]

   a  b  c
1  4  5  6
2  7  8  9

In [70]:
# But you will if you refer by name (like a dict)
df.loc[10]

KeyError: ignored

## iloc
* In contrast to loc which is based on the name (row index or series name)
* iloc is access by position

In [71]:
# If the DataFrame index is a RangedIndex(0 - len), loc and iloc return the same items
print(df.loc[1])
print(df.iloc[1])

a    4
b    5
c    6
Name: 1, dtype: int64
a    4
b    5
c    6
Name: 1, dtype: int64

In [72]:
# Set the index to some other numbering
df.index = [10, 11, 12]
df

    a  b  c
10  1  2  3
11  4  5  6
12  7  8  9

In [73]:
#df.loc[1] Will fail because 1 is not in the index, but iloc will select the item at position 1
df.iloc[1]

a    4
b    5
c    6
Name: 11, dtype: int64

In [74]:
# iloc can return a DataFrame when more than one row is returned
# Note the second value of the slicer is used as less than!
df.iloc[1:3]

    a  b  c
11  4  5  6
12  7  8  9

In [75]:
# Selecting out of bounds returns an IndexError
df.iloc[100]

IndexError: ignored

## at & iat
* Select one value

In [76]:
df

    a  b  c
10  1  2  3
11  4  5  6
12  7  8  9

In [77]:
# Select one column's value using the row index and column's series name
df.at[10, 'a']

1

In [78]:
# Select one column's value using the row's position
# Here row position 1 (0 based) and column position 1 (o based)
df.iat[1, 1]

5

# Chaining
* We can brackets, chain loc, iloc to pick both columns and rows

In [79]:
# Select the row with index name 10, and the 'a' column
df.loc[10]['a']

1

In [80]:
# We can use loc to select both column and row by name
df.loc[10, 'a']

1

In [81]:
# Unlike .at, We can also select multiple rows and columns
df.loc[[10,11], ['a', 'b']]

    a  b
10  1  2
11  4  5

In [82]:
# Select the row with index name 1 and the 'b' column
df.iloc[1]['b']

5

In [83]:
# Unlike .iat, We can also select multiple rows and columns
# Here we take rows 1 & 2 and columns 1 & 2 (0 based)
df.iloc[1:3, 1:3]

    b  c
11  5  6
12  8  9

In [84]:
# We can select all rows using :
df.loc[:, ]

    a  b  c
10  1  2  3
11  4  5  6
12  7  8  9

# Boolean Indexing
* We can use boolean arrays to select rows and columns

In [85]:
# Selecting items can be done using boolean masks
df.iloc[[True, False, True], [True, False, False]]

    a
10  1
12  7

In [86]:
# We can use boolean operations on a DataFrame
df > 4

        a      b      c
10  False  False  False
11  False   True   True
12   True   True   True

In [87]:
# Boolean operators can be used as conditions for selection
# Note:  A NaN is returned for all non selected items
df[df > 4]

      a    b    c
10  NaN  NaN  NaN
11  NaN  5.0  6.0
12  7.0  8.0  9.0

In [88]:
# Booleans can be chained, but you have to remember boolean algebra
# Here we add a second boolean operator to find odd numbers greater than four
df[(df > 4) & (df % 2)]

      a    b    c
10  NaN  NaN  NaN
11  NaN  5.0  NaN
12  7.0  NaN  9.0

# Query

In [89]:
# Query is a simple way to find items in a data frame
df.query('a > 3')

    a  b  c
11  4  5  6
12  7  8  9

In [90]:
# Operators can be chained
df.query('a > 3 and b < 7')

    a  b  c
11  4  5  6

In [91]:
# Referencing external variables
val = 3
df.query('a > @val')

    a  b  c
11  4  5  6
12  7  8  9

In [92]:
# Alternatively 
val = 3 
df.query(f'a > {val}')

    a  b  c
11  4  5  6
12  7  8  9

In [93]:
# Irregular names? backtick them
df.query('`a` > 3')

    a  b  c
11  4  5  6
12  7  8  9

# Tips
* If you find github won't render a notebook
  * Grab the "raw" notebook url from github
  * Add that URL to https://nbviewer.jupyter.org/
  * For example:  https://nbviewer.jupyter.org/github/swilsonmfc/pandas/blob/main/1_Solution.ipynb

# Links
* https://pandas.pydata.org/docs/user_guide/indexing.html#indexing
* https://pandas.pydata.org/docs/reference/api/pandas.Series.at.html#pandas.Series.at
* https://pandas.pydata.org/docs/reference/api/pandas.Series.iat.html#pandas.Series.iat
* https://pandas.pydata.org/docs/reference/api/pandas.Series.loc.html#pandas.Series.loc
* https://pandas.pydata.org/docs/reference/api/pandas.Series.iloc.html#pandas.Series.iloc
* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html?highlight=query#pandas.DataFrame.query