<a href="https://colab.research.google.com/github/swilsonmfc/pandas/blob/main/7_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hotel Bookings

![](https://cdn.inprnt.com/thumbs/5b/fa/5bfa6a8ea6c461d1c21c0a44962968ed.jpg?response-cache-control=max-age=2628000)

# Setup

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import statsmodels.stats.api as sms
import statsmodels.formula.api as smf
import statsmodels.graphics.regressionplots as regplot
from statsmodels.stats.outliers_influence import variance_inflation_factor

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Data
* https://www.kaggle.com/jessemostipak/hotel-booking-demand

In [ ]:
!wget -O hotel.zip https://github.com/swilsonmfc/pandas/blob/main/hotel.zip?raw=true

--2021-07-08 21:30:33--  https://github.com/swilsonmfc/pandas/blob/main/hotel.zip?raw=true
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/swilsonmfc/pandas/raw/main/hotel.zip [following]
--2021-07-08 21:30:33--  https://github.com/swilsonmfc/pandas/raw/main/hotel.zip
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/swilsonmfc/pandas/main/hotel.zip [following]
--2021-07-08 21:30:33--  https://raw.githubusercontent.com/swilsonmfc/pandas/main/hotel.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1308365 (1.2M) [application/zip]
Saving to: ‘hotel.zip’

hotel.zip           100%[===================>]   1.25M  --.-KB/s    in 0.06s

2021-07-08 21:30:33 (22.2 MB/s) - ‘hotel.zip’ saved [1308365/1308365]

In [ ]:
!unzip hotel.zip

Archive:  hotel.zip
replace hotel_bookings.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: hotel_bookings.csv

In [ ]:
hotel_df = pd.read_csv('./hotel_bookings.csv')

In [ ]:
hotel_df

               hotel  is_canceled  ...  reservation_status  reservation_status_date
0       Resort Hotel            0  ...           Check-Out               2015-07-01
1       Resort Hotel            0  ...           Check-Out               2015-07-01
2       Resort Hotel            0  ...           Check-Out               2015-07-02
3       Resort Hotel            0  ...           Check-Out               2015-07-02
4       Resort Hotel            0  ...           Check-Out               2015-07-03
...              ...          ...  ...                 ...                      ...
119385    City Hotel            0  ...           Check-Out               2017-09-06
119386    City Hotel            0  ...           Check-Out               2017-09-07
119387    City Hotel            0  ...           Check-Out               2017-09-07
119388    City Hotel            0  ...           Check-Out               2017-09-07
119389    City Hotel            0  ...           Check-Out               2017-09-07

[119390 rows x 32 columns]

## Types

In [ ]:
hotel_df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

## Missing
* Missing data here seems reasonable for the most part
* 4 missing children - Impute to median

In [ ]:
hotel_df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [ ]:
# Series where method vs np.where
hotel_df['children'] = hotel_df.children.where(hotel_df.children.notna(), 0)
hotel_df['country']  = hotel_df.country.fillna('UNKNOWN')
hotel_df['agent']    = hotel_df.agent.fillna('NONE')
hotel_df['company']  = hotel_df.company.fillna('NONE')

In [ ]:
hotel_df.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

## Outliers
* More than 10 people booked in a room
  * All cancelled
  * Agent 96 is present on 1/2 of them
* The hotel paid one person to stay there
  * Best to truncate that to $0
  * One room cost \$5,400

In [ ]:
hotel_df = hotel_df[(hotel_df.adr >= 0) & (hotel_df.adr < 1000)]

# Linear Regression

In [ ]:
f = 'adr ~ hotel + arrival_date_month'
model = smf.ols(formula=f, data=hotel_df)
fitted = model.fit()
print(fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    adr   R-squared:                       0.220
Model:                            OLS   Adj. R-squared:                  0.220
Method:                 Least Squares   F-statistic:                     2812.
Date:                Thu, 08 Jul 2021   Prob (F-statistic):               0.00
Time:                        21:38:42   Log-Likelihood:            -6.1710e+05
No. Observations:              119388   AIC:                         1.234e+06
Df Residuals:                  119375   BIC:                         1.234e+06
Df Model:                          12
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
Intercept                         103.4471      0.413    250.703      0.000     102.638     104.256
hotel[T.Resort Hotel]              -9.4217      0.261    -36.061      0.000      -9.934      -8.910
arrival_date_month[T.August]       39.9871      0.542     73.828      0.000      38.926      41.049
arrival_date_month[T.December]    -18.6906      0.656    -28.504      0.000     -19.976     -17.405
arrival_date_month[T.February]    -26.2412      0.622    -42.163      0.000     -27.461     -25.021
arrival_date_month[T.January]     -29.6010      0.684    -43.266      0.000     -30.942     -28.260
arrival_date_month[T.July]         26.7439      0.553     48.354      0.000      25.660      27.828
arrival_date_month[T.June]         15.8477      0.573     27.652      0.000      14.724      16.971
arrival_date_month[T.March]       -20.0930      0.590    -34.077      0.000     -21.249     -18.937
arrival_date_month[T.May]           8.0922      0.562     14.386      0.000       6.990       9.195
arrival_date_month[T.November]    -26.2726      0.655    -40.103      0.000     -27.557     -24.989
arrival_date_month[T.October]     -12.5370      0.570    -21.990      0.000     -13.654     -11.420
arrival_date_month[T.September]     4.3892      0.579      7.582      0.000       3.255       5.524
==============================================================================
Omnibus:                    18227.498   Durbin-Watson:                   1.036
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            50352.476
Skew:                           0.831   Prob(JB):                         0.00
Kurtosis:                       5.712   Cond. No.                         13.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
f = """adr ~ + C(arrival_date_month, Treatment(reference='January'))
             + C(hotel, Treatment(reference='Resort Hotel'))""" 
model = smf.ols(formula=f, data=hotel_df)
fitted = model.fit()
print(fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    adr   R-squared:                       0.220
Model:                            OLS   Adj. R-squared:                  0.220
Method:                 Least Squares   F-statistic:                     2812.
Date:                Thu, 08 Jul 2021   Prob (F-statistic):               0.00
Time:                        21:38:43   Log-Likelihood:            -6.1710e+05
No. Observations:              119388   AIC:                         1.234e+06
Df Residuals:                  119375   BIC:                         1.234e+06
Df Model:                          12
Covariance Type:            nonrobust
======================================================================================================================================
                                                                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------------------------------
Intercept                                                             64.4244      0.576    111.807      0.000      63.295      65.554
C(arrival_date_month, Treatment(reference='January'))[T.April]        29.6010      0.684     43.266      0.000      28.260      30.942
C(arrival_date_month, Treatment(reference='January'))[T.August]       69.5882      0.660    105.483      0.000      68.295      70.881
C(arrival_date_month, Treatment(reference='January'))[T.December]     10.9104      0.756     14.431      0.000       9.429      12.392
C(arrival_date_month, Treatment(reference='January'))[T.February]      3.3598      0.727      4.619      0.000       1.934       4.785
C(arrival_date_month, Treatment(reference='January'))[T.July]         56.3449      0.669     84.208      0.000      55.033      57.656
C(arrival_date_month, Treatment(reference='January'))[T.June]         45.4487      0.686     66.240      0.000      44.104      46.794
C(arrival_date_month, Treatment(reference='January'))[T.March]         9.5081      0.700     13.588      0.000       8.137      10.880
C(arrival_date_month, Treatment(reference='January'))[T.May]          37.6933      0.677     55.663      0.000      36.366      39.020
C(arrival_date_month, Treatment(reference='January'))[T.November]      3.3284      0.756      4.405      0.000       1.847       4.809
C(arrival_date_month, Treatment(reference='January'))[T.October]      17.0640      0.683     24.968      0.000      15.725      18.404
C(arrival_date_month, Treatment(reference='January'))[T.September]    33.9902      0.691     49.197      0.000      32.636      35.344
C(hotel, Treatment(reference='Resort Hotel'))[T.City Hotel]            9.4217      0.261     36.061      0.000       8.910       9.934
==============================================================================
Omnibus:                    18227.498   Durbin-Watson:                   1.036
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            50352.476
Skew:                           0.831   Prob(JB):                         0.00
Kurtosis:                       5.712   Cond. No.                         20.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
pred = pd.DataFrame([{'hotel': 'City Hotel', 'arrival_date_month': 'July'}])
pred

        hotel arrival_date_month
0  City Hotel               July

In [ ]:
predictions = fitted.get_prediction(pred)
pred_df = predictions.summary_frame()
pred_df = pred_df.reset_index(drop=True)
pred_df

         mean  mean_se  ...  obs_ci_lower  obs_ci_upper
0  130.191011  0.38948  ...     46.851099    213.530923

[1 rows x 6 columns]

# Assignment
* Try various combinations of features 
  * Note the R-Squared Value
  * Attempt to get a score over .5
* Does your model seem like a good fit?
  * Do the coefficients make sense?
  * Make a prediction of your model
* How can we continue to improve on the model?
  * Can you engineer additional features that may work well?
  * What should we do with features that have poor P-Values?