<a href="https://colab.research.google.com/github/swilsonmfc/pandas/blob/main/8_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hotel Bookings

![](https://cdn.inprnt.com/thumbs/5b/fa/5bfa6a8ea6c461d1c21c0a44962968ed.jpg?response-cache-control=max-age=2628000)

# Setup

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import mean_absolute_error

import statsmodels.api as sm
import statsmodels.stats.api as sms
import statsmodels.formula.api as smf
import statsmodels.graphics.regressionplots as regplot
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Data
* https://www.kaggle.com/jessemostipak/hotel-booking-demand

In [2]:
!wget -O hotel.zip https://github.com/swilsonmfc/pandas/blob/main/hotel.zip?raw=true

--2021-07-22 20:14:45--  https://github.com/swilsonmfc/pandas/blob/main/hotel.zip?raw=true
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/swilsonmfc/pandas/raw/main/hotel.zip [following]
--2021-07-22 20:14:45--  https://github.com/swilsonmfc/pandas/raw/main/hotel.zip
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/swilsonmfc/pandas/main/hotel.zip [following]
--2021-07-22 20:14:45--  https://raw.githubusercontent.com/swilsonmfc/pandas/main/hotel.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1308365 (1.2M) [application/zip]
Saving to: ‘hotel.zip’

hotel.zip           100%[===================>]   1.25M  --.-KB/s    in 0.02s

2021-07-22 20:14:45 (51.8 MB/s) - ‘hotel.zip’ saved [1308365/1308365]

In [3]:
!unzip hotel.zip

Archive:  hotel.zip
  inflating: hotel_bookings.csv

In [4]:
hotel_df = pd.read_csv('./hotel_bookings.csv')

In [5]:
hotel_df

               hotel  is_canceled  ...  reservation_status  reservation_status_date
0       Resort Hotel            0  ...           Check-Out               2015-07-01
1       Resort Hotel            0  ...           Check-Out               2015-07-01
2       Resort Hotel            0  ...           Check-Out               2015-07-02
3       Resort Hotel            0  ...           Check-Out               2015-07-02
4       Resort Hotel            0  ...           Check-Out               2015-07-03
...              ...          ...  ...                 ...                      ...
119385    City Hotel            0  ...           Check-Out               2017-09-06
119386    City Hotel            0  ...           Check-Out               2017-09-07
119387    City Hotel            0  ...           Check-Out               2017-09-07
119388    City Hotel            0  ...           Check-Out               2017-09-07
119389    City Hotel            0  ...           Check-Out               2017-09-07

[119390 rows x 32 columns]

## Types

In [6]:
hotel_df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

## Missing
* Missing data here seems reasonable for the most part
* 4 missing children - Impute to median

In [7]:
hotel_df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [8]:
# Series where method vs np.where
hotel_df['children'] = hotel_df.children.where(hotel_df.children.notna(), 0)
hotel_df['country']  = hotel_df.country.fillna('UNKNOWN')
hotel_df['agent']    = hotel_df.agent.fillna('NONE')
hotel_df['company']  = hotel_df.company.fillna('NONE')

In [9]:
hotel_df.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

## Outliers
* More than 10 people booked in a room
  * All cancelled
  * Agent 96 is present on 1/2 of them
* The hotel paid one person to stay there
  * Best to truncate that to $0
  * One room cost \$5,400

In [10]:
hotel_df = hotel_df[(hotel_df.adr >= 0) & (hotel_df.adr < 1000)]

# Logistic Regression

In [11]:
f = 'is_canceled ~ hotel + arrival_date_month'
model = smf.logit(formula=f, data=hotel_df)
fitted = model.fit()
print(fitted.summary())

Optimization terminated successfully.
         Current function value: 0.647546
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:            is_canceled   No. Observations:               119388
Model:                          Logit   Df Residuals:                   119375
Method:                           MLE   Df Model:                           12
Date:                Thu, 22 Jul 2021   Pseudo R-squ.:                 0.01764
Time:                        20:14:48   Log-Likelihood:                -77309.
converged:                       True   LL-Null:                       -78698.
Covariance Type:            nonrobust   LLR p-value:                     0.000
===================================================================================================
                                      coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
Intercept                          -0.1821      0.020     -9.153      0.000      -0.221      -0.143
hotel[T.Resort Hotel]              -0.6118      0.013    -45.902      0.000      -0.638      -0.586
arrival_date_month[T.August]       -0.1137      0.026     -4.319      0.000      -0.165      -0.062
arrival_date_month[T.December]     -0.2134      0.032     -6.612      0.000      -0.277      -0.150
arrival_date_month[T.February]     -0.2874      0.031     -9.334      0.000      -0.348      -0.227
arrival_date_month[T.January]      -0.4339      0.034    -12.578      0.000      -0.502      -0.366
arrival_date_month[T.July]         -0.1216      0.027     -4.517      0.000      -0.174      -0.069
arrival_date_month[T.June]         -0.0006      0.028     -0.022      0.982      -0.055       0.054
arrival_date_month[T.March]        -0.3723      0.029    -12.721      0.000      -0.430      -0.315
arrival_date_month[T.May]          -0.0621      0.027     -2.282      0.022      -0.116      -0.009
arrival_date_month[T.November]     -0.4045      0.033    -12.324      0.000      -0.469      -0.340
arrival_date_month[T.October]      -0.1215      0.028     -4.386      0.000      -0.176      -0.067
arrival_date_month[T.September]    -0.0869      0.028     -3.098      0.002      -0.142      -0.032
===================================================================================================

In [12]:
f = """is_canceled ~ + C(arrival_date_month, Treatment(reference='January'))
             + C(hotel, Treatment(reference='Resort Hotel'))""" 
model = smf.logit(formula=f, data=hotel_df)
fitted = model.fit()
print(fitted.summary())

Optimization terminated successfully.
         Current function value: 0.647546
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:            is_canceled   No. Observations:               119388
Model:                          Logit   Df Residuals:                   119375
Method:                           MLE   Df Model:                           12
Date:                Thu, 22 Jul 2021   Pseudo R-squ.:                 0.01764
Time:                        20:14:50   Log-Likelihood:                -77309.
converged:                       True   LL-Null:                       -78698.
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================================================================
                                                                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------------------------------
Intercept                                                             -1.2278      0.030    -41.064      0.000      -1.286      -1.169
C(arrival_date_month, Treatment(reference='January'))[T.April]         0.4339      0.034     12.578      0.000       0.366       0.502
C(arrival_date_month, Treatment(reference='January'))[T.August]        0.3202      0.033      9.559      0.000       0.255       0.386
C(arrival_date_month, Treatment(reference='January'))[T.December]      0.2205      0.038      5.749      0.000       0.145       0.296
C(arrival_date_month, Treatment(reference='January'))[T.February]      0.1465      0.037      3.947      0.000       0.074       0.219
C(arrival_date_month, Treatment(reference='January'))[T.July]          0.3124      0.034      9.198      0.000       0.246       0.379
C(arrival_date_month, Treatment(reference='January'))[T.June]          0.4333      0.035     12.543      0.000       0.366       0.501
C(arrival_date_month, Treatment(reference='January'))[T.March]         0.0616      0.036      1.719      0.086      -0.009       0.132
C(arrival_date_month, Treatment(reference='January'))[T.May]           0.3718      0.034     10.866      0.000       0.305       0.439
C(arrival_date_month, Treatment(reference='January'))[T.November]      0.0294      0.039      0.757      0.449      -0.047       0.105
C(arrival_date_month, Treatment(reference='January'))[T.October]       0.3124      0.035      9.031      0.000       0.245       0.380
C(arrival_date_month, Treatment(reference='January'))[T.September]     0.3470      0.035      9.950      0.000       0.279       0.415
C(hotel, Treatment(reference='Resort Hotel'))[T.City Hotel]            0.6118      0.013     45.902      0.000       0.586       0.638
======================================================================================================================================

In [17]:
# Generate a single prediction
pred_df = pd.DataFrame([{'hotel': 'City Hotel', 'arrival_date_month': 'July'}])
proba = fitted.predict(pred_df)
pred  = np.where(proba < .5, 0, 1) # Round works here too!
pred

array([0])

In [20]:
# Generate a prediction for a resort hotel in October

In [ ]:
# Predict over the entire dataset

In [ ]:
# Produce a confusion matrix

In [ ]:
# Print the classification report

# Sklearn Logistic Regression

In [ ]:
# Generate a dataframe of is_canceled, lead_time, adr & hotel
# Target variable is is_canceled

In [ ]:
# Filter the dataset to Portugal (country == PT)

In [ ]:
# Preprocess hotel as one hot encoded

In [ ]:
# Train - test split

In [ ]:
# Scale the lead time & adr

In [ ]:
# Compute class weights for balancing

In [ ]:
# Construct a Linear Regression Object & Fit to the training data
logit = LogisticRegression()
# logit.fit(...)

In [ ]:
# Predict on the test dataset

In [ ]:
# Print the classification report

# Sklearn Linear Regression

In [ ]:
# Generate a dataframe of adr, lead_time, and country
# Target variable is adr

In [ ]:
# Preprocess country as one hot encoded

In [ ]:
# Train - test split

In [ ]:
# Scale the lead time

In [ ]:
# Construct a Linear Regression Object & Fit to the training data
lin = LinearRegression()
# lin.fit(...)

In [ ]:
# Predict on the test dataset

In [ ]:
# Compute the mean squared error